<section class="content-header">
  <h1>
    Produtos
    <small>## COLOCAR MSG!</small>
  </h1>
  <!--<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Examples</a></li>
    <li class="active">Produtos</li>
  </ol> -->
</section>

<!-- Main content -->
<section class="content">

  <!-- Default box -->
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Por favor escolha a fruta desejada:</h3>

      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-toggle="tooltip" data-widget="collapse" title="Collapse"
                type="button">
          <i class="fa fa-minus"></i></button>
        <button class="btn btn-box-tool" data-toggle="tooltip" data-widget="remove" title="Remove" type="button">
          <i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="box-body">
      <div class="row" style="margin-left: 20px; margin-top: 20px;">
          <div class="col-lg-2 col-xs-3">
            <!-- small box -->
            <div class="small-box bg-red">
              <div class="inner">
                <h3>Maçã</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-xs-3">
            <!-- small box -->
            <div class="small-box bg-green">
              <div class="inner">
                <h3>Pera</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-xs-3">
            <!-- small box -->
            <div class="small-box bg-purple">
              <div class="inner">
                <h3>Uva</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-xs-3">
            <!-- small box -->
            <div class="small-box bg-yellow">
              <div class="inner">
                <h3>Melão</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-xs-3">
            <!-- small box -->
            <div class="small-box bg-black">
              <div class="inner">
                <h3>Todas</h3>
              </div>
            </div>
          </div>
      </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      Lembre-se de olhar atentamente as informações antes de fechar o pedido!
    </div>
    <!-- /.box-footer-->
  </div>
  <!-- /.box -->

</section>
<!-- /.content -->
<button type="button" class="btn btn-success" *ngIf="userAdmin" data-toggle="modal" data-target="#cadastrarProduto" >Criar Produto</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Peso</th>
      <th scope="col">Valor</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let produto of produtos">
      <td>{{produto.nome_produto}}</td>
      <td>{{produto.peso_produto}} g</td>
      <td>R$ {{produto.valor_produto}}</td>
      <td>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" (click)="loadProduto(produto.id)" >Comprar</button>
      </td>
    </tr>
  </tbody>
</table>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Comprar Produto</h4>
      </div>
      <div class="modal-body" *ngIf="produto">
            
          <p style="font-size: 25px;">Produto:</p>
          <div class="row" style="margin-left: 20px;">
            <img [src]="produto.imagem_produto" height="100px" width="100px"> <br>

            <div class="">
              <label>Nome Produto:</label> {{produto.nome_produto}} <br>
              <label>Descricao:</label> {{produto.descricao}} <br>
              <label>Valor:</label> {{produto.valor_produto}} <br>
              <label>Peso:</label> {{produto.peso_produto}} <br>
            </div>
          </div>

          <p style="font-size: 25px;">Vendedor:</p>
          <div class="row" style="margin-left: 20px;">
            <img [src]="produto.vendedor.imagem_logo" height="100px" width="200px">
 
            <div class="">
              <label>Nome Vendedor:</label> {{produto.vendedor.nome_vendedor}}
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success"  *ngIf="auth.isLoggedIn(); else loggedOut" (click)="cadastrarPedido()" data-dismiss="modal">Comprar</button>
        <ng-template #loggedOut>
          <button _ngcontent-wyd-c6="" (click)="auth.redirect()" class="btn btn-success" type="button">Login / Cadastrar</button>
        </ng-template>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<!-- Modal -->
<div id="cadastrarProduto" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Cadastrar Produto</h4>
      </div>
      <div class="modal-body">
        <form (submit)="cadastrarProduto()">
          <div class="form-group has-feedback">
            <span>Nome Produto:</span>
            <input class="form-control" placeholder="Nome Produto" name="nome" type="text" [(ngModel)]="credentialsProduto.nome_produto">
          </div>
          <div class="form-group has-feedback">
            <span>Valor Produto:</span>
            <input class="form-control" placeholder="Valor Produto" name="valor" [(ngModel)]="credentialsProduto.valor_produto" type="number">
          </div>
          <div class="form-group has-feedback">
            <span>Descricao:</span>
            <input class="form-control" placeholder="Descricao" name="descricao" [(ngModel)]="credentialsProduto.descricao" type="text">
          </div>
          <div class="form-group has-feedback">
            <span>Imagem:</span>
            <input class="form-control" placeholder="Imagem" name="imagem" [(ngModel)]="credentialsProduto.imagem_produto" type="text">
          </div>
          <div class="form-group has-feedback">
            <span>Vendedor:</span> <br>
            <select name="select"  [(ngModel)]="credentialsProduto.vendedor">
              <option *ngFor="let vendedor of vendedores" [value]="vendedor.id" >
                {{vendedor.nome_vendedor}}
              </option>
            </select>
          </div>
          <div class="form-group has-feedback">
            <span>Peso:</span>
            <input class="form-control" placeholder="Peso" name="peso" [(ngModel)]="credentialsProduto.peso_produto" type="text">
          </div>
          <div class="form-group has-feedback">
            <span>Tipo Produto:</span> <br>
            <select name="selectTipo"  [(ngModel)]="credentialsProduto.tipo_produto">
              <option *ngFor="let tipo of tiposProdutos" [value]="tipo.id" >
                {{tipo.nome_tipo}}
              </option>
            </select>
          </div>
          <div class="col-xs-4">
            <button class="btn btn-primary btn-block btn-flat">Enviar</button>
          </div>
        </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>